<div class="navbar navbar-default m-b-0" role="navigation" ng-controller="topheaderCtrl">
	<md-content class="menu-toggle-button">
		<md-button ng-click="openLeftMenu()">
			Toggle navigation
		</md-button>
	</md-content>
	<md-toolbar id="toolbar" class="top-bar-nav md-menu-toolbar md-whiteframe-1dp ng-scope">
		<div layout="row" layout-align="start center">
			 <div layout="row" layout-align="start center" flex>
				<md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
						   hide-gt-sm aria-label="Toggle navigation" translate
						   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
					<md-icon md-font-icon="icon-menu" class="icon"></md-icon>
				</md-button>

				<ms-shortcuts></ms-shortcuts>

				<div class="toolbar-separator"></div>
			</div>
			<div layout="row" layout-align="start center">
				<md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress"  class="md-accent" md-diameter="32"></md-progress-circular>
				<md-menu-bar id="user-menu">
					<md-menu md-position-mode="left bottom">
						<md-button class="user-button" ng-click="$mdOpenMenu()"
								   aria-label="User settings"
								   translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
							<div layout="row" layout-align="space-between center">
								<div class="avatar-wrapper">
									<img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
									<md-icon md-font-icon ng-class="vm.userStatus.icon"
											 ng-style="{'color': vm.userStatus.color }"
											 class="icon status s16">
									</md-icon>
								</div>
								<span class="username" hide show-gt-sm>Sam Valdes</span>
								<md-icon md-font-icon="icon-chevron-down"
										 class="icon s16" hide-xs></md-icon>
							</div>
						</md-button>

						<md-menu-content width="3">
							<md-menu-item class="md-indent" ui-sref="app.pages_profile">
								<md-icon md-font-icon="icon-account" class="icon"></md-icon>
								<md-button>My Profile</md-button>
							</md-menu-item>

							<md-menu-item class="md-indent" ui-sref="app.mail">
								<md-icon md-font-icon="icon-email" class="icon"></md-icon>
								<md-button>Inbox</md-button>
							</md-menu-item>

							<md-menu-item class="md-indent">
								<md-icon md-font-icon ng-class="vm.userStatus.icon"
										 ng-style="{'color': vm.userStatus.color }" class="icon"></md-icon>
								<md-menu id="user-status-menu">
									<md-button ng-click="$mdOpenMenu()" class="status" ng-class="vm.userStatus.class">
										{{vm.userStatus.title}}
									</md-button>
									<md-menu-content width="2">
										<md-menu-item class="status md-indent"
													  ng-class="{'selected': status === vm.userStatus}"
													  ng-repeat="status in vm.userStatusOptions">
											<md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
													 class="icon"></md-icon>
											<md-button ng-click="vm.setUserStatus(status)">
												{{status.title}}
											</md-button>
										</md-menu-item>
									</md-menu-content>
								</md-menu>
							</md-menu-item>

							<md-menu-divider></md-menu-divider>

							<md-menu-item class="md-indent">
								<md-icon md-font-icon="icon-logout" class="icon"></md-icon>
								<md-button ng-click="logout()">Logout</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-menu-bar>

				
			</div>
		</div>
	</md-toolbar>
	<div class="main-header" layout="column" layout-align="space-between">
		<div layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
			<div>
				<span class="text-color-white md-display-1 font-weight-300">Welcome back, Sam!</span>
			</div>

			<div class="toolbar">
				<button class="md-icon-button sidenav-toggle md-button md-default-theme md-ink-ripple hide-gt-md" type="button" ng-transclude="" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md="" aria-label="Toggle sidenav">
					<md-icon md-font-icon="icon-menu" class="icon ng-scope md-default-theme md-font material-icons icon-menu" aria-hidden="true"></md-icon>
				</button>
			</div>
		</div>
	</div>
</div>
